 * {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
 }

 html {
  font-size: 62.5%;
 }

 :root {
  --text-color: black;
  --font-size: 1.8rem;
 }

 body {
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
 }


 .container {
  display: flex;
  justify-content: center;
 }

 .card {
    border: 1px solid black;
  width: 50%;
  height: 70vh;
 }